/* Platform home page */
.front .view-know4pol-homepage {
  margin-top: 20px;
}

/* Related KS topic view */
.view-related-ks-topic-content .views-row {
  margin-top: 1.66rem;
}
.view-related-ks-topic-content .views-row:last-child hr {
  display: none;
}
.view-related-ks-topic-content #topic-more-resources-button {
  margin: 1.66rem 0;
}

/* BKC Glossary view */
.view-bkc-glossary span.views-summary-unformatted a {
  display: block;
  float: left;
  width: 70px;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  color: white;
  text-decoration: none !important;
  padding: 10px;
  background-color: #004494;
  border-radius: 10px;
}

.view-bkc-glossary span.views-summary-unformatted a:hover {
  color: white;
  text-decoration: underline !important;
  opacity: 0.8;
}

/* KS latest content view */
#block-know4pol-core-know4pol-ks-latest-content {
  margin: 1em 0;
}

#block-know4pol-core-know4pol-ks-latest-content .view-ks-latest-content {
  padding: 0 1rem 0 0;
}

#block-know4pol-core-know4pol-ks-latest-content .views-row {
  padding-bottom: 15px;
}

.ecl-tabs__tabpanel {
  margin-top: 20px;
}

ul.ecl-listing--three-columns li {
  flex-grow: 0 !important;
}

.ecl-list li.view-mode-apachesolr_page:last-child hr {
  display: none;
}

.region-sidebar-first .block-facetapi {
  margin-top: 1.66rem;
}

.region-sidebar-first .block-facetapi ul.facetapi-facetapi-checkbox-links {
  margin-top: 1rem;
  list-style-type: none;
}

.region-sidebar-first .block-facetapi ul.facetapi-know4pol-core-ogvocab-list li.ecl-form-label {
  margin-top: 1rem;
}

.region-sidebar-first .ecl-form .form-item-facets.ecl-u-mt-m {
  margin-top: 1rem;
}

ul li.leaf {
  list-style-type: none;
  list-style-image: none;
}

.ecl-breadcrumbs li a.active {
  color: inherit;
}

.ecl-date-block {
  float: left;
  margin-right: 1rem;
  margin-bottom: 1.6rem;
}

.view-mode-apachesolr_page .ecl-u-mt-m {
  clear: both;
}

/* Missing from the ECL css in theme ec_europa */
.ecl-footer__list {
  margin: 0;
  max-width: none;
  font-size: .9rem;
}

.ecl-footer__list {
    margin: 0;
    max-width: none;
    font-size: .9rem;
} 

#block-bean-share-buttons {
  clear: both;
  margin-top: 10px;
}

.ecl-message--warning,
.ecl-message--error {
  display: none;
}

.region-utility {
  display: flex;
}

.region-utility p {
  margin: 0 0 0 10px;
}

li.statistics_counter,
.webform-back-survey {
  display: none;
}

#facetapi-facet-apachesolrsolr-block-sm-og-vocabulary a.facetapi-checkbox {
  text-transform: lowercase;
}

.ecl-editor .ecl-button--default:active,
.ecl-editor .ecl-button--default:focus,
.ecl-editor .ecl-button--default:hover,
.ecl-editor .ecl-button--primary {
  color: #fff !important;
}

.ecl-editor .ecl-button--primary:active,
.ecl-editor .ecl-button--primary:focus,
.ecl-editor .ecl-button--primary:hover {
  color: #004494 !important;
}

.ds-2col-stacked-fluid.node .group-footer .field-label-inline {
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: table-cell !important;
  margin: .4rem 0;
}

.ds-2col-stacked-fluid.node .group-footer .ecl-field__label {
  font-size: .78rem;
  margin-right: .89rem;
  text-transform: uppercase;
  font-weight: normal;
  width: unset;
}

.ds-2col-stacked-fluid.node .group-footer .ecl-field__body {
  font-size: .78rem;
}

.ds-2col-stacked-fluid.node .group-footer .field-label-inline.field-name-og-vocabulary {
  margin-top: .5rem;
}

.ds-2col-stacked-fluid.node .group-footer .field-label-inline.field-name-og-vocabulary .ecl-field__body {
  margin-left: 2rem;
  margin-top: .5rem;
}

.ds-2col-stacked-fluid.node .group-footer .field-label-inline.field-name-og-vocabulary .item-list li {
  margin: .5rem 0;
  margin-top: .5rem;
}

.ds-2col-stacked-fluid.node .group-footer .field-label-inline.field-name-og-vocabulary .item-list ul {
  margin: 0;
  list-style-type: none;
}

.ds-2col-stacked-fluid.node .group-footer .field-type-entityreference a,
.ds-2col-stacked-fluid.node .group-footer .field-type-taxonomy-term-reference a {
  background-color: #e3e3e3;
  border-radius: 5px;
  border-width: 0;
  color: #404040;
  font-family: Arial,sans-serif;
  font-size: .78rem;
  font-weight: 400;
  line-height: 1;
  margin: 0.33rem;
  padding: 0.33rem;
  display: inline-block;
}

/* Images */
.media-element-container .file-image {
  display: table;
  max-width: 100%;
}

.media-element-container .file-image span {
  width: inherit;
  max-width: 100%;
}

.media-element-container .file-image {
  line-height: 1em;
  font-size: .8em;
  color: #555;
  border: 1px solid #ddd;
  padding: 5px;
  background-color: #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  position: relative;
}

.media-element-container .file-image .below-image-text {
  display: table-caption;
}
