#-og-fields-settings-add-form {
  width: 50%;
  display: block;
}
#edit-fieldset {
  width: 640px;
  display: block;
}
#edit-new-field-name.name-class { /* What is the title of your field? */
  width: 180px;
  margin-right: 135px;
}
#edit-select-existing.name-class.form-select {
  width: 280px;
  padding-left: 20px;
  padding-right: 40px;
}
.form-item.form-type-textfield.form-item-new-field-name {  /* label */
  background: yellowgreen;
  float: left;
  padding-left: 20px;
}
.form-item.form-type-machine-name.form-item-new-field-machine-name { /* machinename*/
  background: yellowgreen;
  float: left;
  padding-left: 20px;
  width: 280px;
}
.form-item.form-type-select.form-item-select-existing { /* select */
  background: mediumspringgreen;
  float: left;
  padding-left: 20px;
}

.form-item.form-type-textfield.form-item-existing-fieldname {
  background: mediumspringgreen;
  float: left;
  width: 320px;
  padding-left: 20px;
}
.form-item.form-type-checkboxes.form-item-ctypes-0 {
  clear: both;
}
.form-checkbox .form-disabled {
  display: none;
}
