.region-utility {
  background-color: #ffd617;
  display: flex;
  padding: 10px;
}

.region-utility p {
  margin: 0 0 0 10px;
}

.region-utility div.element {
  margin: 0 0 0 10px;
}

.wtShareList {
  padding: 0 !important;
}

div.file__container > img {
  height: auto;
  width: 100%;
  max-width: 100%;
}
